# Activare modul rewrite
RewriteEngine On
RewriteBase /

# Setare index.html ca pagină principală implicită
DirectoryIndex index.html

# Redirecționare orice cerere către index3.html către pagina principală
RewriteCond %{REQUEST_URI} ^/index3\.html [NC]
RewriteRule ^.*$ / [R=301,L]

# Redirecționare index.html către /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.html[\s?] [NC]
RewriteRule ^.*$ / [R=301,L]

# Procesare URL-uri curate
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L] 